In [1]:
import numpy as np
import pandas as pd

In [2]:
data=[
    [1,1],
    [1,0],
    [0,1],
    [0,0]
]
output=[1,-1,-1,-1]
df=pd.DataFrame(data,columns=['s1','s2'])

In [3]:
df["Target"]=output
df

   s1  s2  Target
0   1   1       1
1   1   0      -1
2   0   1      -1
3   0   0      -1

In [4]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]
X.shape[0]

4

In [11]:
def Adaline(X,y):
   X=np.insert(X,0,1,axis=1)
   weights=np.zeros(X.shape[1])
   lr=1
   epoch=1

   for i in range(epoch):
        for j in range(X.shape[0]):
            Yin=np.dot(X[j],weights)
            weights=weights+ lr*(y[j]-Yin)*X[j]

   return weights[0],weights[1:]

In [12]:
 intercept_,coef_ = Adaline(X,y)

In [15]:
print(intercept_)
print(coef_)

-1.0
[-2.  1.]

In [14]:
print(coef_)

[-2.  1.]