In [2]:
import numpy as np
import pandas as pd

In [3]:
data=[
    [0,0],
    [0,1],
    [1,0],
    [1,1]
]
output=[0,0,0,1]
df=pd.DataFrame(data,columns=['s1','s2'])

In [4]:
df

   s1  s2
0   0   0
1   0   1
2   1   0
3   1   1

In [6]:
df['target']=output
df

   s1  s2  target
0   0   0       0
1   0   1       0
2   1   0       0
3   1   1       1

In [13]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]
X.shape[0]

4

In [14]:
def Hebb(X,y):
    X=np.insert(X,0,1,axis=1)
    weights=np.ones(X.shape[1])

    for i in range(X.shape[0]):
        yin=np.dot(X[i],weights)
        weights=weights + (X[i]*y[i])
        
    return weights[0],weights[1:]

In [15]:
intercept_,coef_ = Hebb(X,y)

In [17]:
print(coef_)
print(intercept_)

2.0
2.0

In [20]:
m = -(coef_[0]/coef_[1])
b = -(intercept_/coef_[1])